@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    padding:0 var(--padding-l);
}

#app {
    width: 375px;
    background: var(--primary-bg);
    font-family: var(--ff-assistant);
}

.upper {
    text-transform: uppercase;
}

.paragraph {
    font-size: var(--fs-xxs);
    color: var(--secondary-text-color);
    margin-top: var(--margin-s);
}

.direction__paragraph {
    font-size: calc(var(--fs-xxs) - 2px);
}

.title {
    font-size: var(--fs-m);
    font-family: var(--ff-kaisei);
    color: var(--primary-text-color);
    margin-top: var(--margin-xl);
}

.sub-title {
    margin-top: var(--margin-xl);
}

.image {
    width: 296px;
    margin-top: var(--margin-m);
}

.header {
    padding-top: var(--margin-l);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 18px;
    height: 2px;
    background: var(--primary-text-color);
    margin-top: 3px;
}

.preview {
    background: url("../public/images/backgrounds/background-1.png");
    background-position: center;
    background-size: 1000px;
    height: 476px;
    color: var(--primary-text-color);
}

.preview__title {
    margin-top: var(--margin-xxl);
    font-family: var(--ff-kaisei);
    font-size: var(--fs-l);
}

.preview__paragraph {
    margin-top: var(--margin-xs);
}

.player__bg {
    width: 375px;
}

.player__play {
    width: 20px;
    height: 20px;
    position: relative;
    top : -80.5px;
    left : 50%;
    transform: translate(50%,-10px);
}

.about-us__title {
    margin-top: 40px;
}

.mt-20 {
    margin-top: 20px;
}

@media (width > 1512px) {
    #app {
        width: 1512px;
    }

    .logo {
        font-size: var(--fs-m);
    }

    section {
        padding-left: var(--padding-xxxl);
        padding-right: var(--padding-xxxl);
    }

    .preview__title {
        font-size: var(--fs-xxl);
    }

    .preview__paragraph {
        font-size: var(--fs-s);
    }

    .player__bg {
        width: 100%;
        height: 599px;
    }

    .player__play {
        width: 60px;
        height: 60px;
        position: relative;
        top : -345.5px;
        left : 50%;
        transform: translate(50%,-10px);
    }

    .about-us__title {
        margin-top: 120px;
        font-size: 60px;
        font-family: var(--ff-kaisei);
    }

    .about-us .paragraph {

    }

    .paragraph {
        margin-top: var(--margin-s);
        font-size: var(--fs-s);
    }

    .about-us .paragraph:nth-child(2) {
        margin-top: var(--margin-xxl);
        font-size: var(--fs-s);
    }

    .image {
        width: 1256px;
        height: 469px;
        margin-top: var(--margin-xxl);
    }

    .title {
        font-size: 60px;
        font-family: var(--ff-kaisei);
        color: var(--primary-text-color);
        margin-top: 120px;
    }

    .sub-title {
        margin-top: var(--margin-xxl);
        font-size: 24px;
    }

    .direction .paragraph {
        margin-top: var(--margin-s);
        width: 736px;
    }
    
    .direction div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--margin-s);
    }

    .direction:nth-child(3) div:nth-child(2) {
        margin-top: var(--margin-m);
    }

    .direction .image {
        width: 259px;
        height: 92px;
        margin: 0;
    }
}